<div class="card-body" xmlns:th="http://www.thymeleaf.org">
    <h2>
        <th:block th:text="${kanji.character}"></th:block>
        <small class="text-muted">
            <th:block th:each="reading, status : ${kanji.reading}">
                <th:block th:text="${reading} + (${status.last} ? '' : ', ')"></th:block>
            </th:block>
        </small>
        <a th:href="|/kanji/${kanji.id}/edit|">
            <img src="https://image.flaticon.com/icons/svg/149/149307.svg" height="15px" alt="Edit"/>
        </a>
    </h2>

    Strokes:
    <th:block th:text="${kanji.strokes}"></th:block>
    <br/>

    Words:
    <th:block th:if="${#lists.isEmpty(kanji.words)}">–</th:block>
    <th:block th:each="word, status : ${kanji.words}">
        <a th:href="|/word/${word.id}|" th:text="${word.japanese}"></a><th:block th:text="(${status.last} ? '' : ', ')"></th:block>
    </th:block>
</div>