<!--suppress XmlDuplicatedId -->
<div th:fragment="form (type)" class="card m-3" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="card-body">
        <div class="row align-items-center">
            <div class="col">
                <h2 th:switch="${type}">
                    <th:block th:case="'add'">
                        <input pattern="[\u4e00-\u9faf\u3400-\u4dbfぁ-ゔァ-ヴー々〆〤]+" size="8" required="">
                        <small><input class="text-muted" pattern="[a-z]+" required=""></small>
                    </th:block>
                    <th:block th:case="'edit'">
                        <th:block th:text="${word.japanese}"></th:block>
                        <small class="text-muted" th:text="${word.romaji}"></small>
                    </th:block>
                </h2>
            </div>

            <div class="col-auto ml-auto">
                <button id="submit-word" type="submit" class="btn btn-light"
                        th:text="${#strings.capitalize(type)} + ' word'"></button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table width="100%">
                    <thead>
                    <tr>
                        <th width="50%">
                            <img src="https://image.flaticon.com/icons/svg/555/555417.svg" alt="EN" height="20px"/>
                        </th>
                        <th width="50%">
                            <img src="https://image.flaticon.com/icons/svg/555/555571.svg" alt="PL" height="20px"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="translations-table" th:switch="${type}">
                    <th:block th:case="'add'">
                        <tr>
                            <td><input pattern="[a-z]+" required=""></td>
                            <td><input pattern="[a-zżźćńółęąś]+"></td>
                            <td>
                                <button id="translation-plus" class="btn btn-light btn-sm">+</button>
                            </td>
                        </tr>
                    </th:block>
                    <th:block th:case="'edit'">
                        <tr th:each="translation, status : ${word.meanings}">
                            <td><input pattern="[a-z]+" required="" th:value="${translation.english}"></td>
                            <td><input pattern="[a-zżźćńółęąś]+" th:value="${translation.polish}"></td>
                            <td th:if="${status.first}">
                                <button id="translation-plus" class="btn btn-light btn-sm">+</button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>