<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>
<main class="container">
    <ul class="list-group" th:each="kanji : ${kanjis}">
        <li class="list-group-item">
            <h2>
                <th:block th:text="${kanji.character}"></th:block>
                <small th:each="reading, status : ${kanji.reading}">
                    <th:block th:text="${reading} + (${status.last} ? '' : ', ')"></th:block>
                </small>
                <br/>
            </h2>
            <p>
                Strokes: <th:block th:text="${kanji.strokes}"></th:block>
            </p>
            <p>
                Words:
                <th:block th:each="word, status : ${kanji.words}">
                    <a th:href="|/word/${word.id}|" th:text="${word.japanese}"></a><th:block th:text="(${status.last} ? '' : ', ')"></th:block>
                </th:block>
            </p>
        </li>
    </ul>
</main>
</body>

</html>
