<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>
<main class="container">
    <div class="card m-3" th:each="kanji : ${kanjis}">
        <div class="card-body">
            <h2>
                <th:block th:text="${kanji.character}"></th:block>
                <small class="text-muted">
                    <th:block th:each="reading, status : ${kanji.reading}">
                        <th:block th:text="${reading} + (${status.last} ? '' : ', ')"></th:block>
                    </th:block>
                </small>
            </h2>

            Strokes:
            <th:block th:text="${kanji.strokes}"></th:block>
            <br/>

            Words:
            <th:block th:each="word, status : ${kanji.words}">
                <a th:href="|/word/${word.id}|" th:text="${word.japanese}"></a><th:block th:text="(${status.last} ? '' : ', ')"></th:block>
            </th:block>
        </div>
    </div>

    <div th:replace="~{fragments/kanji-form}"></div>
</main>

<script src="/scripts/kanji.js"></script>

</body>

</html>
