<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>
<main class="container">
    <div class="card m-3" th:each="word : ${words}">
        <div class="card-body">
            <h2>
                <th:block th:text="${word.japanese}"></th:block>
                <small class="text-muted" th:text="${word.romaji}"></small>
            </h2>

            <p>
                Related kanji:
                <th:block th:each="kanji, status : ${word.kanjis}">
                    <a th:href="|/kanji/${kanji.id}|" th:text="${kanji.character}"></a><th:block th:text="(${status.last} ? '' : ', ')"></th:block>
                </th:block>
            </p>

            <table width="100%">
                <thead>
                <tr>
                    <th width="50%">
                        <img src="https://image.flaticon.com/icons/svg/555/555417.svg" alt="EN" height="20px"/>
                    </th>
                    <th width="50%">
                        <img src="https://image.flaticon.com/icons/svg/555/555571.svg" alt="PL" height="20px"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="meaning : ${word.meanings}">
                    <td width="50%" th:text="${meaning.english}"></td>
                    <td width="50%" th:text="${meaning.polish}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{fragments/word-form}"></div>
</main>

<script src="/scripts/add-word.js"></script>

</body>

</html>
